@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




.btn.btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #27aae0;
  border-color: #27aae0;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #177aa3;
  border-color: #177aa3;
}
.btn.btn-success {
  background-color: #7ac673;
  border-color: #7ac673;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #4da844;
  border-color: #4da844;
}
.btn.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn.btn-danger {
  background-color: #673ab7;
  border-color: #673ab7;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #46287d;
  border-color: #46287d;
}
.text-primary {
  color: #3f51b5 !important;
}
.text-info {
  color: #27aae0 !important;
}
.text-success {
  color: #7ac673 !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #673ab7 !important;
}
a {
  color: #3f51b5;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #2b387c;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #3f51b5 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #3f51b5 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #3f51b5 !important;
}
blockquote {
  border-left-color: #3f51b5;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #3f51b5 !important;
  border-color: #3f51b5 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #3f51b5;
}
.mbr-gallery-filter li.active {
  color: #3f51b5;
  border-color: #3f51b5;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #3f51b5;
  border-color: #3f51b5;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Montserrat', sans-serif !important;
}
.btn {
  border-radius: 0 !important;
}
input {
  border-radius: 0 !important;
}
#dropdown-menu1-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-1 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1 .nav .link,
#dropdown-menu1-1 .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1 .navbar,
#dropdown-menu1-1 .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-1 .dropdown-menu a:hover,
#dropdown-menu1-1 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-1 .navbar-toggler {
  color: #333;
}
#slider-9 H1 {
  text-align: center;
}
#slider-9 .btn {
  font-size: 16px;
}


#dropdown-menu1-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-d .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-d .nav .link,
#dropdown-menu1-d .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-d .navbar,
#dropdown-menu1-d .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-d .dropdown-menu a:hover,
#dropdown-menu1-d .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-d .navbar-toggler {
  color: #333;
}


#dropdown-menu1-q .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-q .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-q .nav .link,
#dropdown-menu1-q .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-q .navbar,
#dropdown-menu1-q .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-q .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-q .dropdown-menu a:hover,
#dropdown-menu1-q .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-q .navbar-toggler {
  color: #333;
}


#dropdown-menu1-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-y .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-y .nav .link,
#dropdown-menu1-y .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-y .navbar,
#dropdown-menu1-y .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-y .dropdown-menu a:hover,
#dropdown-menu1-y .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-y .navbar-toggler {
  color: #333;
}


#dropdown-menu1-14 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-14 .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-14 .nav .link,
#dropdown-menu1-14 .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-14 .navbar,
#dropdown-menu1-14 .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-14 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-14 .dropdown-menu a:hover,
#dropdown-menu1-14 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-14 .navbar-toggler {
  color: #333;
}


#msg-box18-1d H3 {
  text-align: center;
}
#msg-box18-1d I {
  font-size: 48px;
}
#dropdown-menu1-1a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu1-1a .navbar-brand a {
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1a .nav .link,
#dropdown-menu1-1a .dropdown-item {
  font-size: 1em;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
#dropdown-menu1-1a .navbar,
#dropdown-menu1-1a .dropdown-menu {
  background: #fff;
}
#dropdown-menu1-1a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu1-1a .dropdown-menu a:hover,
#dropdown-menu1-1a .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu1-1a .navbar-toggler {
  color: #333;
}
